# Arch
CONFIG_ARCH_ARM=y

# Board
CONFIG_BOARD="purin"

# Image
CONFIG_BASE_ADDRESS=0x60400000
CONFIG_FMAP_OFFSET=0x00080000
CONFIG_HEAP_SIZE=0x01000000
CONFIG_KERNEL_START=0x63000000

# Vboot
CONFIG_VIRTUAL_DEV_SWITCH=y

CONFIG_CROSSYSTEM_FDT=y

# Kernel format
CONFIG_KERNEL_FIT=y
CONFIG_KERNEL_FIT_FDT_ADDR=0x63800000

# Drivers
CONFIG_DRIVER_FLASH_SPI=y
CONFIG_DRIVER_BUS_SPI_BCM_QSPI=y
CONFIG_DRIVER_INPUT_USB=y
CONFIG_DRIVER_TPM_SLB9635_I2C=y
CONFIG_DRIVER_BUS_I2C_CYGNUS=y
CONFIG_DRIVER_STORAGE_MTD_STREAM=y
CONFIG_DRIVER_STORAGE_MTD_BCM_NAND=y
CONFIG_DRIVER_STORAGE_SPI_GPT=y

CONFIG_HEADLESS=y
CONFIG_NV_STORAGE_FLASH=y
