# Arch
CONFIG_ARCH_ARM=y
CONFIG_ARCH_ARM_V8=y

# Board
CONFIG_BOARD_DIR="skywalker"
CONFIG_VARIANT_NAME="obiwan"

# Image
CONFIG_BASE_ADDRESS=0xF1000000
CONFIG_KERNEL_START=0xD0000000

# Vboot
CONFIG_EC_VBOOT_SUPPORT=y
CONFIG_EC_SLOW_UPDATE=y
CONFIG_AUXFW_SOFTWARE_SYNC=y
CONFIG_CROS_EC_PROBE_AUX_FW_INFO=y
CONFIG_CROSSYSTEM_FDT=y
CONFIG_NVDATA_FLASH=y

# Kernel format
CONFIG_KERNEL_FIT=y
CONFIG_KERNEL_FIT_FDT_ADDR=0xF0000000

# Drivers
CONFIG_DRIVER_BUS_I2C_CROS_EC_TUNNEL=y
CONFIG_DRIVER_BUS_I2C_MT8189=y
CONFIG_DRIVER_BUS_I2S_MT8189=y
CONFIG_DRIVER_SOUND_I2S=y
CONFIG_DRIVER_SOUND_ROUTE=y
CONFIG_DRIVER_SOUND_RT1015P=y
CONFIG_DRIVER_SOUND_RT5645=y
CONFIG_DRIVER_BUS_SPI_MTK=y
CONFIG_DRIVER_EC_CROS=y
CONFIG_DRIVER_EC_CROS_SPI=y
CONFIG_DRIVER_EC_RTS5453=y
CONFIG_DRIVER_EC_RTS545X_VID=0x18d1
CONFIG_DRIVER_EC_RTS545X_PID=0x5072
CONFIG_DRIVER_FLASH_MTK_SNFC=y
CONFIG_DRIVER_FLASH_SPI=y
CONFIG_DRIVER_GPIO_MT8189=y
CONFIG_DRIVER_INPUT_MKBP=y
CONFIG_DRIVER_INPUT_MKBP_KEYMATRIX_STANDARD_V30=y
CONFIG_DRIVER_STORAGE_MMC=y
CONFIG_DRIVER_STORAGE_MMC_MTK=y
CONFIG_DRIVER_STORAGE_UFS=y
CONFIG_DRIVER_STORAGE_UFS_MTK=y
CONFIG_DRIVER_TPM_GOOGLE_TI50=y
CONFIG_DRIVER_TPM_I2C=y
