##
## Copyright 2023 Google LLC
##
## This program is free software; you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation; version 2 of the License.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.

config DRIVER_EC_RTS5453
	bool "RTS5453 PDC"
	depends on DRIVER_EC_CROS
	default n
	help
	  Add support to update the firmware for Realtek RTS5453 PDC
