##
## Copyright 2023 Google LLC
##
## This program is free software; you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation; version 2 of the License.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.

config DRIVER_EC_RTS5453
	bool "RTS5453 PDC"
	depends on DRIVER_EC_CROS
	default n
	help
	  Add support to update the firmware for Realtek RTS5453 PDC

config DRIVER_EC_RTS545X_VID
	hex "RTS5453 VID"
	depends on DRIVER_EC_RTS5453
	default 0x18d1
	help
	  Vendor ID of RTS5453 chip

config DRIVER_EC_RTS545X_PID
	hex "RTS5453 PID"
	depends on DRIVER_EC_RTS5453
	default 0x5065
	help
	  Product ID of RTS5453 chip

config DRIVER_EC_IS_RTS545X_VB
	bool "RTS5453-VB PDC"
	depends on DRIVER_EC_RTS5453
	default n
	help
	  Identifier for the RTS545X VB chip is on device
