# SPDX-License-Identifier: GPL-2.0
# Copyright (c) 2020, Intel Corporation.
# Copyright 2020 Google LLC.

config DRIVER_BUS_SOUNDWIRE
	bool "Soundwire driver for Intel platforms"
	default n

config INTEL_COMMON_SNDW_CAVS_2_5
	bool "Intel cavs 2.5 specification"
	default n

config INTEL_COMMON_SOUNDWIRE_ACE_1_x
	bool "Intel ACE 1.x specification"
	default n

