##
## Copyright (c) 2019, Intel Corporation.
## Copyright 2019 Google Inc.  All rights reserved.
##
## This program is free software; you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation; version 2 of the License.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.

config DRIVER_BUS_I2S_INTEL_COMMON_I2S
	bool "Common I2S driver for Intel platforms"
	default n

config DRIVER_BUS_I2S_INTEL_COMMON_MAX98357A
	bool "Common Max98357a I2S driver"
	depends on DRIVER_BUS_I2S_INTEL_COMMON_I2S
	default n

config INTEL_COMMON_I2S_CAVS_1_8
	bool "Intel cAVS1.8 specification"
	default n

config INTEL_COMMON_I2S_CAVS_1_5
	bool "Intel cAVS1.5 specification"
	default n

config INTEL_COMMON_I2S_CAVS_2_0
        bool "Intel cAVS2.0 specification"
        default n

config INTEL_COMMON_I2S_CAVS_2_5
        bool "Intel cAVS2.5 specification"
        default n
