# Arch
CONFIG_ARCH_X86=y

# Board
CONFIG_BOARD_DIR="skyrim"
CONFIG_VARIANT_NAME="skyrim"

# Image
CONFIG_HEAP_SIZE=0x01000000

# Vboot
CONFIG_AUXFW_SOFTWARE_SYNC=n
CONFIG_EC_VBOOT_SUPPORT=y
CONFIG_NVDATA_CMOS=y
CONFIG_CROSSYSTEM_ACPI=y

# Kernel format
CONFIG_KERNEL_MULTIBOOT=y
CONFIG_KERNEL_MULTIBOOT_ZBI=y
CONFIG_KERNEL_ZIMAGE=y

# Drivers
CONFIG_DRIVER_BUS_I2C_DESIGNWARE=y
CONFIG_DRIVER_EC_CROS=y
CONFIG_DRIVER_EC_CROS_LPC=y
CONFIG_DRIVER_FLASH_MEMMAPPED=y
CONFIG_DRIVER_SOC_MENDOCINO=y
CONFIG_DRIVER_INPUT_MKBP=y
CONFIG_DRIVER_INPUT_MKBP_KEYMATRIX_STANDARD=y
CONFIG_DRIVER_INPUT_PS2=y
CONFIG_DRIVER_POWER_FCH=y
CONFIG_DRIVER_STORAGE_NVME=y
CONFIG_DRIVER_TPM_GOOGLE_CR50=y
CONFIG_DRIVER_TPM_I2C=y
CONFIG_DRIVER_STORAGE_MMC=y
CONFIG_DRIVER_STORAGE_MMC_RTK=y
CONFIG_DRIVER_STORAGE_COMMON=y

# Mendocino uses 32 MiB + ~2 MiB for coreboot so place the kernel at 64 MiB
CONFIG_KERNEL_START=0x4000000

# Timestamp
CONFIG_TIMESTAMP_RAW=n

# Audio beep
CONFIG_DRIVER_SOUND_AMD_ACP_V2=y
CONFIG_DRIVER_SOUND_GPIO_AMP=y
CONFIG_DRIVER_SOUND_ROUTE=y
CONFIG_DRIVER_SOUND_RT1019=y
CONFIG_DRIVER_SOUND_RT5682S=y
