##
## Copyright 2015 Google Inc.  All rights reserved.
##
## This program is free software; you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation; version 2 of the License.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.

config FASTBOOT_MODE
	bool "Enable fastboot mode"
	default n
	help
	  Fastboot mode is enabled by this config option. It allows a board to
	  use fastboot protocol to communicate with a host and flash images onto
	  the device.

config FASTBOOT_USBVID
	hex "Fastboot USB Vendor ID"
	default 0x18d1
	depends on FASTBOOT_MODE
	help
	  The default is 0x18d1(Galaxy Nexus phone), for boards that don't have
	  an official one.

config FASTBOOT_USBPID
	hex "Fastboot USB Product ID"
	default 0x4e30
	depends on FASTBOOT_MODE
	help
	  The default is 0x4e30(Galaxy Nexus phone), for boards that don't have
	  an official one.

config FASTBOOT_EP_IN
	int "In-Endpoint to use for fastboot"
	default 1
	depends on FASTBOOT_MODE

config FASTBOOT_EP_OUT
	int "Out-Endpoint to use for fastboot"
	default 1
	depends on FASTBOOT_MODE

config FASTBOOT_SLOTS
	bool "Multiple slots of same type supported"
	default n
	depends on FASTBOOT_MODE

config FASTBOOT_SLOTS_COUNT
	hex "Number of slots present for slotted partitions"
	default 0x2
	depends on FASTBOOT_SLOTS

config FASTBOOT_SLOTS_STARTING_SUFFIX
	string "Starting suffix for slotted partitions"
	default "-a"
	depends on FASTBOOT_SLOTS
