# Arch
CONFIG_ARCH_ARM=y
CONFIG_ARCH_ARM_V8=y

# Board
CONFIG_BOARD="smaug"

# Boot
CONFIG_ANDROID_DT_FIXUP=y

# Image
CONFIG_BASE_ADDRESS=0x83000000
CONFIG_FMAP_OFFSET=0x00400000
CONFIG_HEAP_SIZE=0x02000000
CONFIG_KERNEL_START=0x81000000
CONFIG_KERNEL_SIZE=0x02000000

# Vboot
CONFIG_EC_SOFTWARE_SYNC=y
CONFIG_VIRTUAL_DEV_SWITCH=y
CONFIG_CROSSYSTEM_FDT=y
CONFIG_NV_STORAGE_CROS_EC=y

# Kernel format
CONFIG_KERNEL_FIT=y
CONFIG_KERNEL_FIT_FDT_ADDR=0x9ff00000

# Drivers
CONFIG_DRIVER_BUS_I2C_TEGRA=y
CONFIG_DRIVER_BUS_I2S_TEGRA=y
CONFIG_DRIVER_BUS_SPI_TEGRA=y
CONFIG_DRIVER_DMA_TEGRA_APB=y
CONFIG_DRIVER_EC_CROS=y
CONFIG_DRIVER_EC_CROS_I2C=y
CONFIG_DRIVER_FLASH_SPI=y
CONFIG_DRIVER_GPIO_TEGRA=y
CONFIG_DRIVER_INPUT_USB=y
CONFIG_DRIVER_INPUT_PSEUDO=y
CONFIG_DRIVER_POWER_MAX77620=y
CONFIG_DRIVER_STORAGE_MMC=y
CONFIG_DRIVER_STORAGE_MMC_TEGRA=y
CONFIG_DRIVER_TPM_SLB9635_I2C=y
CONFIG_DRIVER_SOUND_I2S=y
CONFIG_DRIVER_SOUND_RT5677=y
CONFIG_DRIVER_SOUND_ROUTE=y
CONFIG_DRIVER_SOUND_TEGRA_AUDIO_HUB=y
CONFIG_DRIVER_VIDEO_TEGRA210=y

# Fastboot
CONFIG_FASTBOOT_USBVID=0x18d1
CONFIG_FASTBOOT_USBDID=0x4e30
CONFIG_BCB_SUPPORT=y
