# Arch
CONFIG_ARCH_X86=y

# Board
CONFIG_BOARD_DIR="majolica"

# Image
CONFIG_HEAP_SIZE=0x01000000

# Vboot
CONFIG_EC_VBOOT_SUPPORT=n
CONFIG_AUXFW_SOFTWARE_SYNC=n
CONFIG_MOCK_TPM=y
CONFIG_NVDATA_CMOS=y
CONFIG_CROSSYSTEM_ACPI=y

# Kernel format
CONFIG_KERNEL_MULTIBOOT=y
CONFIG_KERNEL_MULTIBOOT_BOOTDATA=y
CONFIG_KERNEL_ZIMAGE=y

# Drivers
CONFIG_DRIVER_BUS_I2C_DESIGNWARE=y
CONFIG_DRIVER_FLASH_MEMMAPPED=y
CONFIG_DRIVER_SOC_CEZANNE=y
CONFIG_DRIVER_INPUT_PS2=y
CONFIG_DRIVER_POWER_FCH=y
CONFIG_DRIVER_STORAGE_NVME=y

# Cezanne uses 32 MiB + ~2 MiB for coreboot so place the kernel at 64 MiB
CONFIG_KERNEL_START=0x4000000

# Timestamp
CONFIG_TIMESTAMP_RAW=n

# Diag
CONFIG_DIAGNOSTIC_UI=n
