CONFIG_ARCH_MIPS=y
CONFIG_BASE_ADDRESS=0x80020000
CONFIG_BOARD="urara"
CONFIG_DRIVER_BUS_SPI_IMGTEC=y
CONFIG_DRIVER_FLASH=y
CONFIG_DRIVER_FLASH_SPI=y
CONFIG_DRIVER_GPIO_IMGTEC_PISTACHIO=y
CONFIG_DRIVER_STORAGE_MTD_SPI_NAND=y
CONFIG_DRIVER_STORAGE_MTD_STREAM=y
CONFIG_DRIVER_STORAGE_SPI_GPT=y
CONFIG_FMAP_OFFSET=0xe0000
CONFIG_HEADLESS=y
CONFIG_MOCK_TPM=y
CONFIG_NV_STORAGE_FLASH=y
CONFIG_NV_STORAGE_FLASH_BLOB_SIZE=16
