CONFIG_ARCH_MIPS=y
CONFIG_BASE_ADDRESS=0x0F000000
CONFIG_BOARD="urara"
CONFIG_DRIVER_BUS_I2C_IMGTEC=y
CONFIG_DRIVER_BUS_SPI_IMGTEC=y
CONFIG_DRIVER_FLASH=y
CONFIG_DRIVER_FLASH_SPI=y
CONFIG_DRIVER_GPIO_IMGTEC_PISTACHIO=y
CONFIG_DRIVER_STORAGE_MTD_SPI_NAND=y
CONFIG_DRIVER_STORAGE_MTD_STREAM=y
CONFIG_DRIVER_STORAGE_SPI_GPT=y
CONFIG_DRIVER_TPM_SLB9635_I2C=y
CONFIG_FMAP_OFFSET=0xe0000
CONFIG_HEADLESS=y
CONFIG_HEAP_SIZE=0x00800000
CONFIG_KERNEL_FIT=y
CONFIG_KERNEL_FIT_FDT_ADDR=0x00ff0000
CONFIG_KERNEL_START=0x01000000
CONFIG_LDSCRIPT_ARCH=y
CONFIG_NV_STORAGE_FLASH=y
