# Arch
CONFIG_ARCH_ARM=y

# Board
CONFIG_BOARD_DIR="veyron_rialto"

# Image
CONFIG_BASE_ADDRESS=0x23000000
CONFIG_HEAP_SIZE=0x01000000
CONFIG_KERNEL_START=0x02000000

# Vboot
CONFIG_CUSTOM_MUSIC=y
CONFIG_PHYSICAL_REC_SWITCH=y
CONFIG_USB_BOOT_ON_DEV=y

CONFIG_CROSSYSTEM_FDT=y
CONFIG_NVDATA_FLASH=y
CONFIG_HEADLESS=y


#CONFIG_MOCK_TPM=y

# Kernel format
CONFIG_KERNEL_FIT=y
CONFIG_KERNEL_FIT_FDT_ADDR=0x1f800000

# Drivers
CONFIG_DRIVER_GPIO_RK3288=y
CONFIG_DRIVER_BUS_I2C_ROCKCHIP=y
CONFIG_DRIVER_BUS_SPI_ROCKCHIP=y
CONFIG_DRIVER_BUS_I2S_ROCKCHIP=y
CONFIG_DRIVER_FLASH_SPI=y
CONFIG_DRIVER_POWER_RK808=y
CONFIG_DRIVER_INPUT_USB=y
CONFIG_DRIVER_STORAGE_MMC=y
CONFIG_DRIVER_STORAGE_DWMMC_RK3288=y
CONFIG_DRIVER_TPM_SLB9635_I2C=y
