##
## Copyright 2021 Google Inc.  All rights reserved.
##
## This program is free software; you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation; version 2 of the License.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.

config DEFAULT_AMP_SOURCE
	int "Default amplifier source identifier"
	default 1
	help
	  This configuration is used to specify the id of the default amplifier
	  used in the board. By default, MAX98360A amplifier is used.

