# Arch
CONFIG_ARCH_ARM=y
CONFIG_ARCH_ARM_V8=y

# Board
CONFIG_BOARD_DIR="cheza"

# Image
CONFIG_BASE_ADDRESS=0xF1000000
CONFIG_HEAP_SIZE=0x01000000
CONFIG_KERNEL_START=0xD0000000

# Vboot
#CONFIG_TPM2_MODE is not set
#CONFIG_MOCK_TPM is not set
CONFIG_CROSSYSTEM_FDT=y
CONFIG_NV_STORAGE_FLASH=y

# Kernel format
CONFIG_KERNEL_FIT=y
CONFIG_KERNEL_FIT_FDT_ADDR=0xF0000000

# Drivers
#CONFIG_DRIVER_TPM_SPI is not set
CONFIG_DRIVER_FLASH_SPI=y
CONFIG_DRIVER_INPUT_MKBP=y
CONFIG_DRIVER_INPUT_MKBP_KEYMATRIX_STANDARD=y

# VIDEO
