##
## Copyright 2016 Google Inc.
##
## This program is free software; you can redistribute it and/or
## modify it under the terms of the GNU General Public License as
## published by the Free Software Foundation; either version 2 of
## the License, or (at your option) any later version.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.	 See the
## GNU General Public License for more details.

config DRIVER_HID_I2C
	bool "HID over I2C driver"
	default n
	help
	  HID over I2C driver

config DRIVER_HID_VIRTUAL_KEYBOARD
	bool "HID virtual keyboard"
	default n
	help
	  HID virtual keyboard support

config DRIVER_HID_VKB_KEY_DELAY_MS
	int "VKB key delay in ms"
	default 200
	help
	  VKB key delay in ms
