# Arch
CONFIG_ARCH_X86=y

# Board
CONFIG_BOARD="kahlee"

# Image
CONFIG_FMAP_OFFSET=0x57F000

# Vboot
CONFIG_EC_SOFTWARE_SYNC=y
CONFIG_VIRTUAL_DEV_SWITCH=y
CONFIG_NV_STORAGE_CMOS=y
CONFIG_CROSSYSTEM_ACPI=y

# Kernel format
CONFIG_KERNEL_ZIMAGE=y

# Drivers
CONFIG_DRIVER_EC_CROS=y
CONFIG_DRIVER_EC_CROS_LPC=y
CONFIG_DRIVER_FLASH_MEMMAPPED=y
CONFIG_DRIVER_GPIO_KERN=y
CONFIG_DRIVER_INPUT_PS2=y
CONFIG_DRIVER_INPUT_USB=y
CONFIG_DRIVER_POWER_FCH=y
CONFIG_DRIVER_AHCI=y
CONFIG_DRIVER_TPM_LPC=y
CONFIG_DRIVER_SOC_STONEYRIDGE=y
CONFIG_DRIVER_SOUND_HDA=y
CONFIG_DRIVER_SDHCI=y
CONFIG_DRIVER_STORAGE_MMC=y
CONFIG_DRIVER_STORAGE_SDHCI_PCI=y
