## SPDX-License-Identifier: GPL-2.0

config MAINBOARD_SKIP_CONT_SPLASH_REGION_UPDATE
	bool "Don't modify continuous splash node"
	default n
	help
	  Select this option to avoid updates to the continuous splash
	  screen region device tree node.
