# Arch
CONFIG_ARCH_ARM=y
CONFIG_ARCH_ARM_V8=y

# Board
CONFIG_BOARD_DIR="trogdor"

# Image
CONFIG_BASE_ADDRESS=0xF1000000
CONFIG_HEAP_SIZE=0x01800000
CONFIG_KERNEL_START=0xD0000000

# Vboot
#CONFIG_MOCK_TPM is not set
CONFIG_TPM2_MODE=y
CONFIG_CROSSYSTEM_FDT=y
CONFIG_NVDATA_FLASH=y
CONFIG_EC_SOFTWARE_SYNC=y
CONFIG_AUXFW_SOFTWARE_SYNC=y
CONFIG_CROS_EC_PROBE_AUX_FW_INFO=y

# Kernel format
CONFIG_KERNEL_FIT=y
CONFIG_KERNEL_FIT_FDT_ADDR=0xF0000000

# Drivers
CONFIG_DRIVER_TPM_SPI=y
CONFIG_DRIVER_EC_CROS=y
CONFIG_DRIVER_EC_CROS_SPI=y
CONFIG_DRIVER_EC_PS8751=y
CONFIG_DRIVER_FLASH_SPI=y
CONFIG_DRIVER_INPUT_MKBP=y
CONFIG_DRIVER_INPUT_MKBP_KEYMATRIX_STANDARD=y
CONFIG_DRIVER_BUS_QSPI_SC7180=y
CONFIG_DRIVER_BUS_I2C_CROS_EC_TUNNEL=y
CONFIG_DRIVER_BUS_I2C_SC7180=y
CONFIG_DRIVER_STORAGE_MMC=y
CONFIG_DRIVER_SDHCI=y
CONFIG_DRIVER_STORAGE_SDHCI_MSM=y
CONFIG_DRIVER_BUS_SPI_QCOM_SPI_QUP=y
CONFIG_DRIVER_SOC_QCOM_QUP_SE=y
CONFIG_DRIVER_GPIO_SC7180=y
CONFIG_DRIVER_SOUND_ROUTE=y
CONFIG_DRIVER_SOUND_MAX98357A=y
CONFIG_DRIVER_SOUND_I2S=y
CONFIG_DRIVER_BUS_I2S_SC7180=y

# VIDEO
CONFIG_DRIVER_VIDEO_EC_PWM_BACKLIGHT=y
CONFIG_DRIVER_VIDEO_SC7180=y
