config DRIVER_STORAGE_MTD_NAND
	bool "NAND Device Support"
	help
	  This enables support for accessing all type of NAND flash
	  devices. For further information see
	  <http://www.linux-mtd.infradead.org/doc/nand.html>.

config DRIVER_STORAGE_MTD_IPQ_NAND
	bool "IPQ NAND support"
	select DRIVER_STORAGE_MTD_NAND

config DRIVER_STORAGE_MTD_SPI_NAND
	bool "SPI NAND devices support"
	select DRIVER_STORAGE_MTD_NAND

config DRIVER_STORAGE_MTD_BCM_NAND
	bool "Broadcom NAND controller support"
	select DRIVER_STORAGE_MTD_NAND
