## This file is part of the coreboot project.
##
## Copyright 2013 Google Inc.  All rights reserved.
##
## This program is free software; you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation; version 2 of the License.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with this program; if not, write to the Free Software
## Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA

config DRIVER_TIMER_DUMMY
	bool "Dummy timer driver"
	depends on !ARCH_X86
	default n

config DRIVER_TIMER_MCT
	bool "Exynos MCT (multi-core timer) driver"
	depends on ARCH_ARM
	default n

config DRIVER_TIMER_MCT_HZ
	int "Exynos MCT frequency"
	depends on DRIVER_TIMER_MCT
	default 24000000

config DRIVER_TIMER_MCT_ADDRESS
	hex "Exynos MCT base address"
	depends on DRIVER_TIMER_MCT

config DRIVER_TIMER_TEGRA_1US
	bool "Tegra 1us timer driver"
	default n

config DRIVER_TIMER_TEGRA_1US_ADDRESS
	hex "Tegra 1us timer base address"
	depends on DRIVER_TIMER_TEGRA_1US
