# Arch
CONFIG_ARCH_ARM=y

# Board
CONFIG_BOARD_PEACH_PIT=y

# Image
CONFIG_BASE_ADDRESS=0x43000000
CONFIG_FMAP_OFFSET=0x00100000
CONFIG_KERNEL_START=0x42000000

# Vboot
CONFIG_EC_SOFTWARE_SYNC=y
CONFIG_RO_NORMAL_SUPPORT=y
CONFIG_VIRTUAL_DEV_SWITCH=y

CONFIG_CROSSYSTEM_FDT=y
CONFIG_NV_STORAGE_MKBP=y

# Kernel format
CONFIG_KERNEL_FIT=y
CONFIG_KERNEL_FIT_COMPAT="google,pit-rev3"
CONFIG_KERNEL_FIT_FDT_ADDR=0x5ff00000

# Drivers
CONFIG_DRIVER_BUS_I2C_EXYNOS5_USI=y
CONFIG_DRIVER_BUS_I2S_EXYNOS5=y
CONFIG_DRIVER_BUS_I2S_EXYNOS5_REGADDR=0x12d60000
CONFIG_DRIVER_FLASH_EXYNOS5_SPI=y
CONFIG_DRIVER_FLASH_EXYNOS5_SPI_REGADDR=0x12d30000
CONFIG_DRIVER_FLASH_EXYNOS5_SPI_ROM_SIZE=0x400000
CONFIG_DRIVER_GPIO_S5P=y
CONFIG_DRIVER_INPUT_MKBP=y
CONFIG_DRIVER_INPUT_MKBP_KEYMATRIX_SNOW=y
CONFIG_DRIVER_INPUT_USB=y
CONFIG_DRIVER_MKBP=y
CONFIG_DRIVER_MKBP_I2C=y
CONFIG_DRIVER_POWER_EXYNOS=y
CONFIG_DRIVER_SERIAL_S5P=y
CONFIG_DRIVER_SOUND_I2S=y
CONFIG_DRIVER_SOUND_I2S_LR_FRAME_SIZE=256
CONFIG_DRIVER_SOUND_I2S_SAMPLE_RATE=48000
CONFIG_DRIVER_SOUND_MAX98095=y
CONFIG_DRIVER_SOUND_MAX98095_ADDR=0x11
CONFIG_DRIVER_SOUND_MAX98095_MASTER_CLOCK_SEL=1
CONFIG_DRIVER_STORAGE_MMC=y
CONFIG_DRIVER_STORAGE_MMC_DW=y
CONFIG_DRIVER_STORAGE_MMC_DW_EXYNOS=y
CONFIG_DRIVER_STORAGE_MMC_DW_EXYNOS_DEVICES=2
CONFIG_DRIVER_TIMER_MCT=y
CONFIG_DRIVER_TIMER_MCT_ADDRESS=0x101c0000
CONFIG_DRIVER_TIMER_MCT_HZ=24000000
CONFIG_DRIVER_TPM_I2C=y
CONFIG_DRIVER_TPM_I2C_ADDR=0x20
CONFIG_DRIVER_VIDEO_EXYNOS5=y
CONFIG_DRIVER_VIDEO_EXYNOS5_BASE=0x14400000
