# Arch
CONFIG_ARCH_ARM=y

# Board
CONFIG_BOARD="peach_pit"

# Image
CONFIG_BASE_ADDRESS=0x23000000
CONFIG_FMAP_OFFSET=0x00100000
CONFIG_HEAP_SIZE=0x00600000
CONFIG_KERNEL_START=0x22000000

# Vboot
CONFIG_EC_SOFTWARE_SYNC=y
CONFIG_RO_NORMAL_SUPPORT=y
CONFIG_VIRTUAL_DEV_SWITCH=y

CONFIG_CROSSYSTEM_FDT=y
CONFIG_NV_STORAGE_CROS_EC=y

# Kernel format
CONFIG_KERNEL_FIT=y
CONFIG_KERNEL_FIT_COMPAT="google,pit-rev3"
CONFIG_KERNEL_FIT_FDT_ADDR=0x3ff00000

# Drivers
CONFIG_DRIVER_BUS_I2C_EXYNOS5_USI=y
CONFIG_DRIVER_BUS_I2S_EXYNOS5=y
CONFIG_DRIVER_BUS_SPI_EXYNOS5=y
CONFIG_DRIVER_EC_CROS=y
CONFIG_DRIVER_EC_CROS_SPI=y
CONFIG_DRIVER_FLASH_SPI=y
CONFIG_DRIVER_GPIO_EXYNOS5420=y
CONFIG_DRIVER_INPUT_MKBP=y
CONFIG_DRIVER_INPUT_MKBP_KEYMATRIX_STANDARD=y
CONFIG_DRIVER_INPUT_USB=y
CONFIG_DRIVER_NET_ASIX=y
CONFIG_DRIVER_POWER_EXYNOS=y
CONFIG_DRIVER_SOUND_I2S=y
CONFIG_DRIVER_SOUND_MAX98095=y
CONFIG_DRIVER_SOUND_ROUTE=y
CONFIG_DRIVER_STORAGE_MMC=y
CONFIG_DRIVER_STORAGE_MMC_DW=y
CONFIG_DRIVER_STORAGE_MMC_DW_EXYNOS=y
CONFIG_DRIVER_TPM_SLB9635_I2C=y
CONFIG_DRIVER_VIDEO_EXYNOS5=y
CONFIG_DRIVER_VIDEO_EXYNOS5_BASE=0x14400000
