# Arch
CONFIG_ARCH_ARM=y
CONFIG_ARCH_ARM_V8=y

# Board
CONFIG_BOARD="elm"
CONFIG_BOARD_DIR="oak"

# Image
CONFIG_BASE_ADDRESS=0x48000000
CONFIG_FMAP_OFFSET=0x00100000
CONFIG_HEAP_SIZE=0x00600000
CONFIG_KERNEL_START=0x45000000

# Vboot
CONFIG_VIRTUAL_DEV_SWITCH=y
CONFIG_EC_SOFTWARE_SYNC=y
CONFIG_CROSSYSTEM_FDT=y
CONFIG_NV_STORAGE_FLASH=y

# Kernel format
CONFIG_KERNEL_FIT=y
CONFIG_KERNEL_FIT_FDT_ADDR=0x5ff00000

# Drivers
CONFIG_DRIVER_BUS_I2C_MT8173=y
CONFIG_DRIVER_BUS_I2S_MT8173=y
CONFIG_DRIVER_BUS_SPI_MT8173=y
CONFIG_DRIVER_EC_CROS=y
CONFIG_DRIVER_EC_CROS_PASSTHRU=y
CONFIG_DRIVER_EC_CROS_SPI=y
CONFIG_DRIVER_GPIO_MT8173=y
CONFIG_DRIVER_INPUT_MKBP=y
CONFIG_DRIVER_INPUT_MKBP_KEYMATRIX_STANDARD=y
CONFIG_DRIVER_INPUT_USB=y
CONFIG_DRIVER_POWER_MT6397=y
CONFIG_DRIVER_SOUND_I2S=y
CONFIG_DRIVER_SOUND_RT5645=y
CONFIG_DRIVER_SOUND_RT5677=y
CONFIG_DRIVER_SOUND_ROUTE=y
CONFIG_DRIVER_STORAGE_MMC=y
CONFIG_DRIVER_STORAGE_MMC_MT8173=y
CONFIG_DRIVER_FLASH_NOR_MT8173=y
CONFIG_DRIVER_TPM_SLB9635_I2C=y

# VIDEO
CONFIG_DRIVER_VIDEO_MEDIATEK=y
