# Arch
CONFIG_ARCH_ARM=y
CONFIG_ARCH_ARM_V8=y

# Board
CONFIG_BOARD_DIR="bluey"
CONFIG_VARIANT_NAME="quenbi"

# Image
CONFIG_BASE_ADDRESS=0xF1000000
CONFIG_HEAP_SIZE=0x05000000
CONFIG_KERNEL_START=0xD0000000

# Vboot
CONFIG_CROSSYSTEM_FDT=y
CONFIG_NVDATA_FLASH=y
CONFIG_AUXFW_SOFTWARE_SYNC=n
CONFIG_EC_VBOOT_SUPPORT=n
CONFIG_BOOTCONFIG=y

# Kernel format
CONFIG_KERNEL_FIT=y
CONFIG_KERNEL_FIT_FDT_ADDR=0xF0000000

# Drivers
CONFIG_DRIVER_FLASH_SPI=y
CONFIG_DRIVER_BUS_I2C_CROS_EC_TUNNEL=y
CONFIG_DRIVER_TPM_GOOGLE_TI50=y
CONFIG_DRIVER_TPM_I2C=y
CONFIG_DRIVER_EC_CROS=y
CONFIG_DRIVER_EC_CROS_SPI=y
CONFIG_DRIVER_SOC_X1P42100=y
CONFIG_DRIVER_SOC_QCOM_SPMI=y
CONFIG_DRIVER_INPUT_MKBP=y
CONFIG_DRIVER_INPUT_MKBP_KEYMATRIX_STANDARD_V30=y

# Auxfw
CONFIG_CROS_EC_PROBE_AUX_FW_INFO=y

#NVMe
CONFIG_DRIVER_STORAGE_NVME=y
