## This file is part of the coreboot project.
##
## Copyright 2013 Google Inc.  All rights reserved.
##
## This program is free software; you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation; version 2 of the License.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with this program; if not, write to the Free Software
## Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA

menu "Board"

config BOARD
	string "Board name"

if BOARD = "banjo"
source src/board/banjo/Kconfig
endif
if BOARD = "bayleybay"
source src/board/bayleybay/Kconfig
endif
if BOARD = "beltino"
source src/board/beltino/Kconfig
endif
if BOARD = "bolt"
source src/board/bolt/Kconfig
endif
if BOARD = "candy"
source src/board/candy/Kconfig
endif
if BOARD = "clapper"
source src/board/clapper/Kconfig
endif
if BOARD = "cranky"
source src/board/cranky/Kconfig
endif
if BOARD = "daisy"
source src/board/daisy/Kconfig
endif
if BOARD = "enguarde"
source src/board/enguarde/Kconfig
endif
if BOARD = "expresso"
source src/board/expresso/Kconfig
endif
if BOARD = "falco"
source src/board/falco/Kconfig
endif
if BOARD = "fox_wtm2"
source src/board/fox_wtm2/Kconfig
endif
if BOARD = "glimmer"
source src/board/glimmer/Kconfig
endif
if BOARD = "glower"
source src/board/glower/Kconfig
endif
if BOARD = "gnawty"
source src/board/gnawty/Kconfig
endif
if BOARD = "kip"
source src/board/kip/Kconfig
endif
if BOARD = "link"
source src/board/link/Kconfig
endif
if BOARD = "ninja"
source src/board/ninja/Kconfig
endif
if BOARD = "nyan"
source src/board/nyan/Kconfig
endif
if BOARD = "orco"
source src/board/orco/Kconfig
endif
if BOARD = "panther"
source src/board/panther/Kconfig
endif
if BOARD = "parry"
source src/board/parry/Kconfig
endif
if BOARD = "peach_pit"
source src/board/peach_pit/Kconfig
endif
if BOARD = "peppy"
source src/board/peppy/Kconfig
endif
if BOARD = "quawks"
source src/board/quawks/Kconfig
endif
if BOARD = "rambi"
source src/board/rambi/Kconfig
endif
if BOARD = "samus"
source src/board/samus/Kconfig
endif
if BOARD = "slippy"
source src/board/slippy/Kconfig
endif
if BOARD = "squawks"
source src/board/squawks/Kconfig
endif
if BOARD = "sumo"
source src/board/sumo/Kconfig
endif
if BOARD = "swanky"
source src/board/swanky/Kconfig
endif
if BOARD = "winky"
source src/board/winky/Kconfig
endif

endmenu
