# Arch
CONFIG_ARCH_X86=y

# Board
CONFIG_BOARD_DIR="tglrvp"

# Image
CONFIG_HEAP_SIZE=0x00600000

# Vboot
#CONFIG_VIRTUAL_DEV_SWITCH=y
CONFIG_CROSSYSTEM_ACPI=y
CONFIG_NV_STORAGE_CMOS=y
CONFIG_MOCK_TPM=y

# Kernel format
CONFIG_KERNEL_MULTIBOOT=y
CONFIG_KERNEL_MULTIBOOT_BOOTDATA=y
CONFIG_KERNEL_ZIMAGE=y

# Drivers
CONFIG_DRIVER_AHCI=y
CONFIG_DRIVER_FLASH_MEMMAPPED=y
CONFIG_DRIVER_INPUT_PS2=y
CONFIG_DRIVER_POWER_PCH=y
CONFIG_DRIVER_SOC_CANNONLAKE=y
CONFIG_DRIVER_STORAGE_NVME=y
