/dts-v1/;

/ {
	model = "Google Peppy";
	config {
		hwid = "X86 PEPPY TEST 4211";
	};
	chromeos-config {
		/* Enable factory-friendly features. */
		gbb-flag-dev-screen-short-delay;
		gbb-flag-force-dev-switch-on;
		gbb-flag-force-dev-boot-usb;
		gbb-flag-disable-fw-rollback-check;
	};
};
