# Arch
CONFIG_ARCH_ARM=y

# Board
CONFIG_BOARD="storm"

# Documentation/arm/Booting says:
#  The kernel should be placed in the first 128MiB of RAM. It is recommended
#  that it is loaded above 32MiB in order to avoid the need to relocate prior
#  to decompression, which will make the boot process slightly faster.
# KERNEL_START is where the (compressed) kernel blob is loaded.

# Image
CONFIG_BASE_ADDRESS=0x55000000
CONFIG_FMAP_OFFSET=0x00300000
CONFIG_HEAP_SIZE=0x02800000
CONFIG_KERNEL_START=0x44000000

# Vboot
CONFIG_VIRTUAL_DEV_SWITCH=y
CONFIG_USB_BOOT_ON_DEV=y

CONFIG_CROSSYSTEM_FDT=y

# Kernel format
CONFIG_KERNEL_FIT=y
CONFIG_KERNEL_FIT_FDT_ADDR=0x54000000
CONFIG_KERNEL_LEGACY=y

# Drivers
CONFIG_DRIVER_BUS_I2C_IPQ806X=y
CONFIG_DRIVER_BUS_SPI_IPQ806X=y
CONFIG_DRIVER_FLASH_SPI=y
CONFIG_DRIVER_GPIO_IPQ_806X=y
CONFIG_DRIVER_INPUT_USB=y
CONFIG_DRIVER_NET_IPQ806X=y
CONFIG_DRIVER_POWER_IPQ806X=y
CONFIG_DRIVER_SOUND_IPQ806X=y
CONFIG_DRIVER_SOUND_ROUTE=y
CONFIG_DRIVER_STORAGE_IPQ_806X=y
CONFIG_DRIVER_STORAGE_MMC=y
CONFIG_DRIVER_TPM_SLB9635_I2C=y
CONFIG_DRIVER_VIDEO_WW_RING=y

CONFIG_HEADLESS=y
CONFIG_NV_STORAGE_FLASH=y

CONFIG_MACHID=0x1260
CONFIG_ATAG_BASE=0x5f000000

CONFIG_DRIVER_STORAGE_MTD_STREAM=y
CONFIG_DRIVER_STORAGE_SPI_GPT=y
CONFIG_DRIVER_STORAGE_MTD_IPQ_NAND=y
