# Arch
CONFIG_ARCH_ARM=y

# Image
CONFIG_FMAP_OFFSET=0x0

# Vboot
CONFIG_EC_SOFTWARE_SYNC=y
CONFIG_RO_NORMAL_SUPPORT=y
CONFIG_VIRTUAL_DEV_SWITCH=y

CONFIG_NV_STORAGE_DISK=y

# Kernel format

# Drivers
CONFIG_DRIVER_INPUT_USB=y
CONFIG_DRIVER_MKBP=y
CONFIG_DRIVER_MKBP_I2C=y
CONFIG_DRIVER_MKBP_I2C_BUS=4
CONFIG_DRIVER_MKBP_I2C_ADDR=0x1e
