# Arch
CONFIG_ARCH_ARM=y

# Image
CONFIG_BASE_ADDRESS=0x40400000
CONFIG_FMAP_OFFSET=0x00100000

# Vboot
CONFIG_EC_SOFTWARE_SYNC=y
CONFIG_MOCK_TPM=y
CONFIG_RO_NORMAL_SUPPORT=y
CONFIG_VIRTUAL_DEV_SWITCH=y

CONFIG_NV_STORAGE_MKBP=y

# Kernel format

# Drivers
CONFIG_DRIVER_BUS_I2C_S3C24X0=y
CONFIG_DRIVER_FLASH_EXYNOS5_SPI=y
CONFIG_DRIVER_FLASH_EXYNOS5_SPI_REGADDR=0x12d30000
CONFIG_DRIVER_FLASH_EXYNOS5_SPI_ROM_SIZE=0x400000
CONFIG_DRIVER_GPIO_S5P=y
CONFIG_DRIVER_INPUT_USB=y
CONFIG_DRIVER_POWER_EXYNOS=y
CONFIG_DRIVER_SERIAL_S5P=y
CONFIG_DRIVER_TIMER_MCT=y
CONFIG_DRIVER_TIMER_MCT_ADDRESS=0x101c0000
CONFIG_DRIVER_TIMER_MCT_HZ=24000000
CONFIG_DRIVER_MKBP=y
CONFIG_DRIVER_MKBP_I2C=y
CONFIG_DRIVER_MKBP_I2C_BUS=4
CONFIG_DRIVER_MKBP_I2C_ADDR=0x1e
