# Arch
CONFIG_ARCH_ARM=y
CONFIG_ARCH_ARM_V8=y

# Board
CONFIG_BOARD="rotor"

# Image
CONFIG_BASE_ADDRESS=0x0C080000

# FMAP_OFFSET
CONFIG_FMAP_OFFSET=0x00100000

CONFIG_HEAP_SIZE=0x00600000

# Kernel Start
CONFIG_KERNEL_START=0x04080000

# Vboot
CONFIG_VIRTUAL_DEV_SWITCH=y

CONFIG_CROSSYSTEM_FDT=y
CONFIG_MOCK_TPM=y

CONFIG_NV_STORAGE_FAKE=y

# Kernel format
CONFIG_KERNEL_FIT=y
CONFIG_KERNEL_FIT_FDT_ADDR=0x08080000

# Drivers
CONFIG_DRIVER_FLASH_SPI=y
CONFIG_DRIVER_FLASH_MEMMAPPED=y
