/dts-v1/;

/ {
	model = "Marvell Rotor ";
	config {
		hwid = "ROTOR TEST 1234";
	};
	chromeos-config {
		/* Enable factory-friendly features. */
		gbb-flag-dev-screen-short-delay;
		gbb-flag-force-dev-switch-on;
		gbb-flag-force-dev-boot-usb;
		gbb-flag-disable-fw-rollback-check;
	};
};
