# Arch
CONFIG_ARCH_ARM=y
CONFIG_ARCH_ARM_V8=y

# Board
CONFIG_BOARD_DIR="mistral"

# Image
CONFIG_BASE_ADDRESS=0xB1000000
CONFIG_HEAP_SIZE=0x01000000
CONFIG_KERNEL_START=0x8B000000

# Vboot
CONFIG_TPM2_MODE=y
#CONFIG_MOCK_TPM is not set
CONFIG_DRIVER_TPM=y
CONFIG_DRIVER_TPM_SPI=y
CONFIG_DRIVER_TPM_CR50_SWITCHES=y
CONFIG_CROSSYSTEM_FDT=y
CONFIG_NV_STORAGE_FLASH=y

# Kernel format
CONFIG_KERNEL_FIT=y
CONFIG_KERNEL_FIT_FDT_ADDR=0xB0000000

# Drivers
CONFIG_HEADLESS=y
#CONFIG_DRIVER_TPM_SPI is not set
CONFIG_DRIVER_FLASH_SPI=y
CONFIG_DRIVER_BUS_I2C_QCS405=y
#eMMC/SD-card
CONFIG_DRIVER_STORAGE_MMC=y
CONFIG_DRIVER_SDHCI=y
CONFIG_DRIVER_STORAGE_SDHCI_MSM=y

CONFIG_DRIVER_GPIO_QCS405=y
CONFIG_DRIVER_BUS_SPI_QCS405=y
# VIDEO
CONFIG_DRIVER_VIDEO_LP5562=y
