##
## Copyright 2013 Google Inc.  All rights reserved.
##
## This program is free software; you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation; version 2 of the License.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.

config DRIVER_VIDEO_EXYNOS5
	bool "Exynos5 video"
	default n

config DRIVER_VIDEO_EXYNOS5_BASE
	hex "Exynos5 video base address"
	depends on DRIVER_VIDEO_EXYNOS5

config DRIVER_VIDEO_INTEL_I915
	bool "Intel i915 video driver"
	default n

config DRIVER_VIDEO_TEGRA132
	bool "tegra132 video settings"
	default n

config DRIVER_VIDEO_TEGRA210
	bool "tegra210 video settings"
	default n

config DRIVER_VIDEO_RK3288
	bool "rk3288 video settings"
	default n

config DRIVER_VIDEO_RK3399
	bool "rk3399 video settings"
	default n

config DRIVER_VIDEO_WW_RING
	bool "Whirlwind LED ring driver"
	default n

config DRIVER_VIDEO_MTK
	bool "MediaTek video settings"
	default n

config DRIVER_VIDEO_EC_PWM_BACKLIGHT
	bool "Control backlight by EC PWM"
	default n
	depends on DRIVER_EC_CROS

config DRIVER_VIDEO_ARCTICSAND_BACKLIGHT
	bool "Arctic Sand backlight controller setting"
	default n

config DRIVER_VIDEO_LP5562
	bool "LP5562 LED driver"
	default n

config DRIVER_VIDEO_SC7180
	bool "sc7180 video settings"
	default n
