##
## Copyright 2013 Google Inc.  All rights reserved.
##
## This program is free software; you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation; version 2 of the License.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with this program; if not, write to the Free Software
## Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA

config DRIVER_VIDEO_EXYNOS5
	bool "Exynos5 video"
	default n

config DRIVER_VIDEO_EXYNOS5_BASE
	hex "Exynos5 video base address"
	depends on DRIVER_VIDEO_EXYNOS5

config DRIVER_VIDEO_INTEL_I915
	bool "Intel i915 video driver"
	default n

config DRIVER_VIDEO_TEGRA132
	bool "tegra132 video settings"
	default n

config DRIVER_VIDEO_TEGRA210
	bool "tegra210 video settings"
	default n

config DRIVER_VIDEO_ROCKCHIP
	bool "rockchip video settings"
	default n

config DRIVER_VIDEO_WW_RING
	bool "Whirlwind LED ring driver"
	default n


