## This file is part of the coreboot project.
##
## Copyright (C) 2012 The ChromiumOS Authors.  All rights reserved.
##
## This program is free software; you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation; version 2 of the License.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with this program; if not, write to the Free Software
## Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA

config EC_SOFTWARE_SYNC
	bool "Enable EC software sync"
	help
	  EC software sync is a mechanism where the AP helps the EC verify its
	  firmware similar to how vboot verifies the main system firmware. This
	  option selects whether depthcharge should support EC software sync.

config VIRTUAL_DEV_SWITCH
	bool "Virtual developer switch support"
	help
	  Whether this platform has a virtual developer switch.

config OPROM_MATTERS
	bool "Video option ROM matters"
	help
	  Whether the video option ROM has run matters on this platform.

config RO_NORMAL_SUPPORT
	bool "Booting normal mode with RO firmware"
	help
	  Whether booting in normal mode using only RO firmware is supported.

choice
	prompt "Type of nonvolatile storage"
	help
	  Where depthcharge should keep vboot's nonvolatile storage.

config NV_STORAGE_CMOS
	bool "CMOS"
	depends on ARCH_X86
	help
	  The nonvolatile data is stored in CMOS.

config NV_STORAGE_DISK
	bool "Fixed disk"
	help
	  The nonvolatile storage is stored on a fixed disk. The first fixed
	  disk will be used. To avoid unexpected behavior, there should only
	  be one fixed disk in the system.

endchoice
