## This file is part of the coreboot project.
##
## Copyright 2013 Google Inc.  All rights reserved.
##
## This program is free software; you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation; version 2 of the License.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with this program; if not, write to the Free Software
## Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA

config DRIVER_AHCI
	bool "AHCI driver"
	default n

config DRIVER_STORAGE_MMC
	bool "Board-specific SD/MMC storage Driver"
	default n
        help
          For platforms with SD/MMC card readers not on USB bus.

config DRIVER_STORAGE_MSHC_S5P
	depends on  DRIVER_STORAGE_MMC
	bool "S5P MSHC/MMC driver"
	default n

config DRIVER_STORAGE_MSHC_S5P_DEVICES
	depends on DRIVER_STORAGE_MSHC_S5P
	int "Number of S5P MMC devices"

# TODO(hungte) Verify if this default value is simply a special case.
config DRIVER_STORAGE_MSHC_S5P_CLOCK_RATE
	depends on DRIVER_STORAGE_MSHC_S5P
	int "Clock rate of S5P MMC devices"
        default 400000000

config DRIVER_STORAGE_MSHC_S5P_MMC0_ADDRESS
	hex "S5P MMC driver I/O address for MMC0"
	depends on DRIVER_STORAGE_MSHC_S5P

config DRIVER_STORAGE_MSHC_S5P_MMC1_ADDRESS
	hex "S5P MMC driver I/O address for MMC1"
	depends on DRIVER_STORAGE_MSHC_S5P

config DRIVER_STORAGE_MMC_DW
	depends on DRIVER_STORAGE_MMC
	bool "DesignWare MMC driver"
	default n

config DRIVER_STORAGE_MMC_DW_EXYNOS
	depends on DRIVER_STORAGE_MMC_DW
	bool "DesignWare MMC driver for Exynos"
	default n

config DRIVER_STORAGE_MMC_DW_EXYNOS_DEVICES
	depends on DRIVER_STORAGE_MMC_DW_EXYNOS
	int "Number of DW MMC devices on Exynos boards"
