# Arch
CONFIG_ARCH_ARM=y

# Board
CONFIG_BOARD="cyclone"
CONFIG_SYS_PROMPT="cyclone_debug: "

# Image
CONFIG_BASE_ADDRESS=0x10000000
CONFIG_FMAP_OFFSET=0x00300000
CONFIG_HEAP_SIZE=0x01000000
CONFIG_KERNEL_START=0x2000000

# vboot
CONFIG_VIRTUAL_DEV_SWITCH=y
CONFIG_USB_BOOT_ON_DEV=y
CONFIG_CROSSYSTEM_FDT=y

# Kernel format
CONFIG_KERNEL_FIT=y
CONFIG_KERNEL_FIT_FDT_ADDR=0x6400000
CONFIG_ATAG_BASE=0x6f00000

# Drivers
CONFIG_DRIVER_BUS_I2C_ARMADA38X=y
CONFIG_DRIVER_BUS_SPI_ARMADA38X_SPI=y
CONFIG_DRIVER_FLASH_SPI=y
CONFIG_DRIVER_INPUT_USB=y
CONFIG_DRIVER_TPM_SLB9635_I2C=y

CONFIG_HEADLESS=y
CONFIG_NV_STORAGE_FLASH=y
